################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CheckIfModifiedAfterPublishTest/bin
/CheckIfModifiedAfterPublishTest/obj
/HelloWorld
/ModifiedAfterLastPublish/bin
/ModifiedAfterLastPublish/obj
/packages
/TridionLibraries
*.suo
*.user
